<!-- Start Banner Hero -->
<div
  id="template-mo-zay-hero-carousel"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-bs-target="#template-mo-zay-hero-carousel"
      data-bs-slide-to="0"
      class="active"
    ></li>
    <li
      data-bs-target="#template-mo-zay-hero-carousel"
      data-bs-slide-to="1"
    ></li>
    <li
      data-bs-target="#template-mo-zay-hero-carousel"
      data-bs-slide-to="2"
    ></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-7 col-lg-5 order-lg-last">
            <img
              class="img-fluid"
              src="./assets\img\postimage/WhatsApp_Image_2022-06-14_at_10.52.42-removebg-preview.png"
              alt=""
            />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left align-self-center">
              <h1 class="h1 text-success"><b>HVKK</b> LEVAZIM</h1>
              <h3 class="text-success">Hava Kuvvetleri Çağıyla Yarışıyor</h3>
              <p class="text-success">
                Herzaman Zamanın İlerisinde
              </p>
              <a href="/shop" class="btn btn-success btn-lg">
                <i class="fa fa-fw fa-shopping-cart mr-2"></i>
                <span>Hemen Al</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">

      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-7 col-lg-5 order-lg-last">
            <img
              class="img-fluid"
              src="./assets\img\postimage/WhatsApp_Image_2022-06-14_at_10.53.27-removebg-preview.png"
              alt=""
            />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left align-self-center">
              <h1 class="h1 text-success"><b>HVKK</b> LEVAZIM</h1>
              <h3 class="text-success">Hava Kuvvetleri Çağıyla Yarışıyor</h3>
              <p class="text-success">
                Hava Kuvvetleri Çağıyla Yarışıyor
              </p>
              <a href="/shop" class="btn btn-success btn-lg">
                <i class="fa fa-fw fa-shopping-cart mr-2"></i>
                <span>Hemen Al</span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-7 col-lg-5 order-lg-last">
            <img
              class="img-fluid"
              src="./assets\img\postimage/WhatsApp_Image_2022-06-14_at_10.52.50-removebg-preview.png"
              alt=""
            />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left align-self-center">
              <h1 class="h1 text-success"><b>HVKK</b> LEVAZIM</h1>
              <h3 class="text-success">Hava Kuvvetleri Çağıyla Yarışıyor</h3>
              <p class="text-success">
                Hava Kuvvetleri Çağıyla Yarışıyor
              </p>
              <a href="/shop" class="btn btn-success btn-lg">
                <i class="fa fa-fw fa-shopping-cart mr-2"></i>
                <span>Hemen Al</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev text-decoration-none w-auto ps-3"
    href="#template-mo-zay-hero-carousel"
    role="button"
    data-bs-slide="prev"
  >
    <i class="fas fa-chevron-left"></i>
  </a>
  <a
    class="carousel-control-next text-decoration-none w-auto pe-3"
    href="#template-mo-zay-hero-carousel"
    role="button"
    data-bs-slide="next"
  >
    <i class="fas fa-chevron-right"></i>
  </a>
</div>
<!-- End Banner Hero -->

<!-- Start Section -->
<section class="container py-5">
  <div class="row text-center pt-5 pb-3">
    <div class="col-lg-6 m-auto">
      <h1 class="h1">Hızmetler</h1>
      <p>
        Gelişme ve ilerlemelerin devam ettirilmesi diğer bir deyişle bilim çağı
        diye adlandırılan bu çağa ayak uydurulabilmesinin temini için de,
        çeşitli dönemlerde gerek mevcut teşkilatlanmada gerekse çeşitli hizmet,
        faaliyet ve sistemlerde büyük çaplı reorganizasyonlar yapılmış ve bu
        duruma süreklilik kazandırılmıştır.
      </p>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6 col-lg-3 pb-5">
      <div class="h-100 py-5 services-icon-wap shadow">
        <div class="h1 text-success text-center"><i
            class="fa fa-truck fa-lg"
          ></i></div>
        <h2 class="h5 mt-4 text-center">Bedava Kargo</h2>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 pb-5">
      <div class="h-100 py-5 services-icon-wap shadow">
        <div class="h1 text-success text-center"><i
            class="fas fa-exchange-alt"
          ></i></div>
        <h2 class="h5 mt-4 text-center">Kolay İade</h2>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 pb-5">
      <div class="h-100 py-5 services-icon-wap shadow">
        <div class="h1 text-success text-center"><i
            class="fa fa-percent"
          ></i></div>
        <h2 class="h5 mt-4 text-center">İndirimler</h2>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 pb-5">
      <div class="h-100 py-5 services-icon-wap shadow">
        <div class="h1 text-success text-center"><i
            class="fa fa-user"
          ></i></div>
        <h2 class="h5 mt-4 text-center">24 Saat servis</h2>
      </div>
    </div>
  </div>
</section>
<!-- End Section -->

<!-- ***************** -->

<!-- Start Categories of The Month -->
<section class="container py-5">
  <div class="row text-center pt-3">
    <div class="col-lg-6 m-auto">
      <h1 class="h1">Popüler Ürünler</h1>
    </div>
    <div class="btn">
      <a href="/shop" class="btn btn-lg">
        <span style="color: blue;">Tümünü Göster</span>
      </a>
    </div>
  </div>
  <div class="col-lg-12 m-auto tempaltemo-carousel">
    <div class="row d-flex flex-row">
      <!--Controls-->
      <div class="col-1 align-self-center">
        <a
          class="h1"
          href="#multi-item-example"
          role="button"
          data-bs-slide="prev"
        >
          <i class="text-light fas fa-chevron-left"></i>
        </a>
      </div>
      <!--End Controls-->

      <!--Carousel Wrapper-->
      <div class="col">
        <div
          class="carousel slide carousel-multi-item pt-2 pt-md-0"
          id="multi-item-example"
          data-bs-ride="carousel"
        >
          <!--Slides-->
          <div class="carousel-inner product-links-wap" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">
              <div class="row">
                {{#each posts}}
                  <div class="col-md-3">
                    <div class="card mb-4 product-wap rounded-0">
                      <div class="card rounded-0">
                        <img
                          class="card-img rounded-0 img-fluid"
                          src="{{post_image}}"
                        />
                        <div
                          class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center"
                        >
                          <ul class="list-unstyled">
                            <li><a
                                class="btn btn-success text-white"
                                href="/posts/{{_id}}"
                              ><i class="far fa-heart"></i></a></li>
                            <li><a
                                class="btn btn-success text-white mt-2"
                                href="/posts/{{_id}}"
                              ><i class="far fa-eye"></i></a></li>
                            <li><a
                                class="btn btn-success text-white mt-2"
                                href="/posts/{{_id}}"
                              ><i class="fas fa-cart-plus"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="card-body">
                        <a
                          href="/posts/{{_id}}"
                          class="text-center text-decoration-none"
                        >{{title}}</a>
                        <ul
                          class="w-100 list-unstyled d-flex justify-content-between mb-0"
                        >
                          <li class="text-center"> </li>

                          <li
                            class="font-weight-light text-start"
                          >{{content}}</li>
                          <li class="pt-2">
                            <span
                              class="product-color-dot color-dot-red float-left rounded-circle ml-1"
                            ></span>
                            <span
                              class="product-color-dot color-dot-blue float-left rounded-circle ml-1"
                            ></span>
                            <span
                              class="product-color-dot color-dot-black float-left rounded-circle ml-1"
                            ></span>
                            <span
                              class="product-color-dot color-dot-light float-left rounded-circle ml-1"
                            ></span>
                            <span
                              class="product-color-dot color-dot-green float-left rounded-circle ml-1"
                            ></span>
                          </li>
                        </ul>
                        <ul
                          class="list-unstyled d-flex justify-content-center mb-1"
                        >
                          <li>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                          </li>
                        </ul>

                      </div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
            <!--End First slide-->

            <!--Second slide-->
            <div class="carousel-item">
              <div class="row">
                {{#each posts}}
                  <div class="col-md-3">
                    <div class="card mb-4 product-wap rounded-0">
                      <div class="card rounded-0">
                        <img
                          class="card-img rounded-0 img-fluid"
                          src="{{post_image}}"
                        />
                        <div
                          class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center"
                        >
                          <ul class="list-unstyled">
                            <li>
                              <button
                                class="btn btn-success text-white like-button"
                                data-post-id="{{_id}}"
                              >
                                <i class="far fa-heart"></i>
                              </button>
                            </li>
                            <li>
                              <a
                                class="btn btn-success text-white mt-2"
                                href="/posts/{{_id}}"
                              >
                                <i class="far fa-eye"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                class="btn btn-success text-white mt-2"
                                href="/posts/{{_id}}"
                              >
                                <i class="fas fa-cart-plus"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="card-body">
                        <a
                          href="/posts/{{_id}}"
                          class="text-center text-decoration-none"
                        >{{title}}</a>
                        <ul
                          class="w-100 list-unstyled d-flex justify-content-between mb-0"
                        >
                          <li class="text-center"></li>
                          <li
                            class="font-weight-light text-start"
                          >{{content}}</li>
                          <li class="pt-2">
                            <span
                              class="product-color-dot color-dot-red float-left rounded-circle ml-1"
                            ></span>
                            <span
                              class="product-color-dot color-dot-blue float-left rounded-circle ml-1"
                            ></span>
                            <span
                              class="product-color-dot color-dot-black float-left rounded-circle ml-1"
                            ></span>
                            <span
                              class="product-color-dot color-dot-light float-left rounded-circle ml-1"
                            ></span>
                            <span
                              class="product-color-dot color-dot-green float-left rounded-circle ml-1"
                            ></span>
                          </li>
                        </ul>
                        <ul
                          class="list-unstyled d-flex justify-content-center mb-1"
                        >
                          <li>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                {{/each}}

              </div>
            </div>
            <!--End Second slide-->

            <!--Third slide-->
            <div class="carousel-item">
              <div class="row">
                {{#each posts}}
                  <div class="col-md-3">
                    <div class="card mb-4 product-wap rounded-0">
                      <div class="card rounded-0">
                        <img
                          class="card-img rounded-0 img-fluid"
                          src="{{post_image}}"
                        />
                        <div
                          class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center"
                        >
                          <ul class="list-unstyled">
                            <li>
                              <form action="/posts/{{_id}}/like" method="POST" enctype="multipart/form-data">
                                <button
                                  class="btn btn-success text-white"
                                  type="submit"
                                >
                                  <i class="far fa-heart"></i>
                                </button>
                              </form>
                            </li>
                            <li>
                              <a
                                class="btn btn-success text-white mt-2"
                                href="/posts/{{_id}}"
                              >
                                <i class="far fa-eye"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                class="btn btn-success text-white mt-2"
                                href="/posts/{{_id}}"
                              >
                                <i class="fas fa-cart-plus"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="card-body">
                        <a
                          href="/posts/{{_id}}"
                          class="text-center text-decoration-none"
                        >{{title}}</a>
                        <ul
                          class="w-100 list-unstyled d-flex justify-content-between mb-0"
                        >
                          <li class="text-center"></li>
                          <li
                            class="font-weight-light text-start"
                          >{{content}}</li>
                          <li class="pt-2">
                            <span
                              class="product-color-dot color-dot-red float-left rounded-circle ml-1"
                            ></span>
                            <span
                              class="product-color-dot color-dot-blue float-left rounded-circle ml-1"
                            ></span>
                            <span
                              class="product-color-dot color-dot-black float-left rounded-circle ml-1"
                            ></span>
                            <span
                              class="product-color-dot color-dot-light float-left rounded-circle ml-1"
                            ></span>
                            <span
                              class="product-color-dot color-dot-green float-left rounded-circle ml-1"
                            ></span>
                          </li>
                        </ul>
                        <ul
                          class="list-unstyled d-flex justify-content-center mb-1"
                        >
                          <li>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                {{/each}}

              </div>
            </div>
            <!--End Third slide-->

          </div>
          <!--End Slides-->
        </div>
      </div>
      <!--End Carousel Wrapper-->

      <!--Controls-->
      <div class="col-1 align-self-center">
        <a
          class="h1"
          href="#multi-item-example"
          role="button"
          data-bs-slide="next"
        >
          <i class="text-light fas fa-chevron-right"></i>
        </a>
      </div>
      <!--End Controls-->
    </div>
  </div>

</section>
<!-- End Categories of The Month -->

<!-- Start Featured Product -->
<section class="bg-light">
  <div class="container py-5">
    <div class="row text-center py-3">
      <div class="col-lg-6 m-auto">
        <h1 class="h1">ÖNE ÇIKANLAR</h1>
        <p>
          Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident.
        </p>
      </div>
    </div>
    <div class="row col-lg-10 m-auto">
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="/shop-single">
            <img src="{{post_image}}" class="card-img-top" alt="..." />
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
              </li>
              <li class="text-muted text-right">₺{{post.mony}}</li>
            </ul>
            <a
              href="/shop-single"
              class="h2 text-decoration-none text-dark"
            >{{post.title}}</a>
            <p class="card-text">
              {{post.content}}
            </p>
            <p class="text-muted">Reviews (24)</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="/shop-single">
            <img
              src="./assets/img/1/book-4.png"
              class="card-img-top"
              alt="..."
            />
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
              </li>
              <li class="text-muted text-right">₺{{post.mony}}</li>
            </ul>
            <a
              href="shop-single.html"
              class="h2 text-decoration-none text-dark"
            >{{post.title}}</a>
            <p class="card-text">
              {{post.content}}
            </p>
            <p class="text-muted">Reviews (48)</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="/shop-single">
            <img
              src="./assets/img/1/book-6.png"
              class="card-img-top"
              alt="..."
            />
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
              </li>
              <li class="text-muted text-right">₺{{post.mony}}</li>
            </ul>
            <a
              href="shop-single.html"
              class="h2 text-decoration-none text-dark"
            >{{post.title}}</a>
            <p class="card-text">
              {{post.content}}
            </p>
            <p class="text-muted">Reviews (74)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>